#Ignore everything
*

# Assets
!assets/main/
!assets/favicon.ico
!assets/robots.txt

# Main
!main/controllers/*
!main/languages/*
!main/models/*
!main/settings/*
!main/views/*

# Plugin
!plugins/BaseModel.class.php
!plugins/Mcrypt.class.php

# Root
!.htaccess
!index.php
!README.md
